<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAR9VvEpJTOvS5cjVnYQJM7kdPpfn4XHeg</string>
	<key>GCM_SENDER_ID</key>
	<string>963399913555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.kalmykov.group</string>
	<key>PROJECT_ID</key>
	<string>master-b5b58</string>
	<key>STORAGE_BUCKET</key>
	<string>master-b5b58.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963399913555:ios:700f10e95e7608521336a6</string>
</dict>
</plist>